* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: #222831;
    outline: none;
}

input {
    border: none;
    background: none;
}

input[type='file']{
    display: none;
}

body{
    width: 100vw;
    height: 100vh;
}

button {
    background: none;
    border : none;
    cursor: pointer;
}

.wrapper {
    width: 40%;
    height: 90%;
    margin : 0px auto;
    display: flex;   
}

.chat-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 1px #ddd;
    overflow: hidden;
}

.header {
    display: flex;
    /* flex-direction: row; */
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0, .1);
}

.message-box{
    display: flex;
    flex: 10;
    overflow: hidden;
}

.message-list {
    width: 100%;
    padding: 10px;
}

.message-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-message {
    /* justify-content: flex-end; */
    margin: 5px 10px;
}

.chat-message.mine {
    align-items: flex-end
}

.chat-message.thine {
    align-items: flex-start;
}

.chat-message > .message-content {
    padding: 8px 15px;
}

.chat-message.mine > .message-content {
    background-color: #f9e4cb;
    border-radius : 10px 10px 0px 10px;
}

.chat-message.thine > .message-content {
    background-color: #f2f2f2;
    border-radius : 10px 10px 10px 0px;
}

.chat-message > .message-title {
    font-size: 14px;
    
}

.system-message {
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    display: flex;
}

.system-message > .message-content {
    background-color: rgba(0,0,0, .1);
    padding: 8px 20px;
    border-radius: 20px;
    flex: 1;
    justify-content: center;
}

.chat-form {
    display: flex;
    height: 60px;
    flex: 1;
    background-color: #eee;
    margin: 10px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.chat-form > input {
    border : none;
    background: none;
    padding: 5px 0;
}

.chat-form > .buttons {
    display: flex;
    justify-content: space-between;
}

.chat-form > .more-menu {
    background-color: #ffffff;
}

.popup-background {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.popup-background.login {
    background-color: #00ADB5;
}

.login-popup {
    background-color: #EEEEEE;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
}

.login-popup > p {
    font-size: 25px;
    text-align: center;
}

.login-form {
    padding: 20px 0;
    width: 100%;
}

.input-box {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #bbb;
    transition: all 0.5s;
}

.input-box.active{
    border: 2px solid #00ADB5;
}

.input-box > label {
    font-size: 16px;
    color: #888;
    background-color: #eee;
    position: absolute;
    transition: all 0.5s;
}

.input-box.active > label{
    top: -18px;
    color: #00ADB5;
    font-size: 14px;
    padding: 5px;
}

.input-box > input {
    font-size: 16px;
}

.alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    min-width: 100px;
    padding: 15px 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.alert-info {
    background-color: #c9deff;
}

.alert-error {
    background-color: rgb(255, 219, 219);
}

.alert-body{
    display: flex;
    align-items: center;
}

.alert-icon{
    margin-right: 20px;
}

.alert-icon > i {
    font-size: 30px;
}

.alert-title {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.alert-info .alert-title {
    color: #002a6d;
}

.alert-content {
    font-size: 13px;
}

.alert-close > p {
    cursor:pointer;
    font-size : 30px;
}